<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>欢迎登陆</h1>
    <div><a href="/u_register.html" rel="external nofollow" rel="external nofollow" >用户注册</a> </div>
    <div><a href="/s_register.html" rel="external nofollow" rel="external nofollow" >员工注册</a> </div>
    <div><a href="/u_login.html" rel="external nofollow" rel="external nofollow" >用户登录</a> </div>
    <div><a href="/s_login.html" rel="external nofollow" rel="external nofollow" >员工登录</a> </div>

</body>
</html>